@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: 'Poppins', sans-serif;
}

body{
  height: 100%;
    background: linear-gradient(90deg, #7c3aed, #a855f7, #bf46ef);

}

header h1{
    margin-top: 50px;
    text-align: center;
}

header p{
    text-align: center;
}

header h2{
    margin-top: 50px;
}

.div-total{
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
   
}

.div-titulo-github{
    width: 30%;
}

.div-img{
    width: 70%;
}

iframe{
    width: 80%;
    height: 350px;
    border-radius: 15px;
}

.img{
    border-radius: 15px;
    width: 80%;
}

footer{
    margin-top: 50px;
    text-align: center;
}

#buttonfooter{
    text-transform: uppercase;
    text-decoration: none;
    background: linear-gradient(120deg, rgb(41, 82, 194), #d812ceda);
    padding: 10px;
    border-radius: 10px;
    color: black;
    font-weight: bold;
    
}

#buttonfooter:hover{
    color: black;
    background: linear-gradient(120deg, blue, pink);
    transform: scale(1.1);
}
